<div class="btn-wrap col-group">
    <a href="index.html" class="home-btn">
        <i class="xi-home"></i>
    </a>
    <a href="" class="logout-btn">
        <i class="xi-log-out"></i>
    </a>
</div>
<ul class="main-menu row-group">
    <li>
        <a href="mainpage.html" class="scd5">
            메인페이지
            <i class="xi-angle-right"></i>
        </a>
    </li>
    <li>
        <p class="scd5">
            회원관리
        </p>
        <ul class="sub-menu">
            <li>
                <a href="member1.html" class="scd5">
                    회원정보
                    <i class="xi-angle-right"></i>
                </a>
            </li>
            <li>
                <a href="member2.html" class="scd5">
                    마일리지
                    <i class="xi-angle-right"></i>
                </a>
            </li>
        </ul>
    </li>
    <li>
        <p class="scd5">
            문의관리
        </p>
        <ul class="sub-menu">
            <li>
                <a href="inquiry1.html" class="scd5">
                    자주묻는질문
                    <i class="xi-angle-right"></i>
                </a>
            </li>
            <li>
                <a href="inquiry2.html" class="scd5">
                    1:1 문의
                    <i class="xi-angle-right"></i>
                </a>
            </li>
            <li>
                <a href="inquiry3.html" class="scd5">
                    제안하기
                    <i class="xi-angle-right"></i>
                </a>
            </li>
        </ul>
    </li>
    <li>
        <p class="scd5">
            서비스 신청
        </p>
        <ul class="sub-menu">
            <li>
                <a href="service1.html" class="scd5">
                    이차어때
                    <i class="xi-angle-right"></i>
                </a>
            </li>
            <li>
                <a href="service2.html" class="scd5">
                    동행서비스
                    <i class="xi-angle-right"></i>
                </a>
            </li>
        </ul>
    </li>
</ul>