<div class="footer-wrap">
    <div class="container row-group">
        <div class="top-wrap col-group">
            <a href="index.html" class="footer-logo">
                <img src="images/W_WhatPick_logo_Footer.svg" alt="">
            </a>
            <ul class="site-map col-group">
                <li>
                    <a href="about.html">WHAT?</a>
                </li>
                <li>
                    <a href="compare.html">차량조회</a>
                </li>
                <li>
                    <a href="confirm.html">이차어때</a>
                    <ul class="sub-menu">
                        <li>
                            <a href="compare.html">이차어때?</a>
                        </li>
                        <li>
                            <a href="compare_apply.html">서비스 신청</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="service.html">동행서비스</a>
                    <ul class="sub-menu">
                        <li>
                            <a href="service.html">동행서비스</a>
                        </li>
                        <li>
                            <a href="service_apply.html">동행서비스 신청</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="inquiry.html">고객문의</a>
                    <ul class="sub-menu">
                        <li>
                            <a href="inquiry1.html">자주묻는질문</a>
                        </li>
                        <li>
                            <a href="inquiry2.html">1:1문의</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="btm-wrap col-group">
            <p class="copy">
                Copyright WHAT PICK. All rights reserved.
            </p>
            <div class="right-menu col-group">
                <a href="">개인정보처리방침</a>
                <a href="">이용약관</a>
            </div>
        </div>
    </div>
</div>